<div class="container">
    <div class="row">
        <!--About Me / Sobre mi-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About me</h2>
                <img src="../../assets/image-profile.jpg" alt="profile picture" width="256" class="rounded-circle mt-3 mb-2"/>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare lectus sit amet est placerat. Consectetur libero id faucibus nisl tincidunt eget nullam non nisi. Eu feugiat pretium nibh ipsum. Sit amet facilisis magna etiam tempor orci eu. Risus sed vulputate odio ut. Consectetur a erat nam at lectus urna duis convallis convallis. Massa sed elementum tempus egestas sed sed risus pretium quam. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Vitae nunc sed velit dignissim sodales ut eu sem integer. Lorem mollis aliquam ut porttitor leo. </p>
            </div>
        </div>
        <!--Featured Projects / Proyectos-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Projects</h2>
            </div>
        </div>
    </div>
</div>