<div class="container">
    <div class="row">
        <!--About Me / Sobre mi-->
        <div class="col-lg shadow border m-1  big-card">
            <div class="text-center m-5">
                <h2>About me</h2>
                <img src="../../assets/image-profile.jpg" alt="profile picture" width="256" class="rounded-circle mt-2 mb-3"/>
                <p class="text-justify">I'm Dony Castro, a passionate and aspiring software developer on a journey to turn lines of code into innovative solutions. Currently immersed in the world of software development as a student, I am eagerly seeking opportunities to contribute my skills and enthusiasm to a dynamic team. With over two years of hands-on experience in web programming, I've honed my skills in crafting robust and user-friendly applications.  </p>
            </div>
        </div>
        <!--Featured Projects / Proyectos-->
        <div class="col-lg shadow border m-1 big-card">
            <div class="text-center">
                <h2>Featured Projects</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>
            <carousel>
                <div *ngFor="let picture of featuredProject.pictures">
                    <slide><img src={{picture}} alt="slide" style="display: block; width: 100%;"></slide>
                </div>
            </carousel>
            <p class="mt-2 text-justify m-2">{{featuredProject.description}}</p>
            <p class="mt-2 text-justify m-2">Visit the portfolio section to learn more!</p>
        </div>
    </div>
</div>